/* Font Sizes ----------------------------------*/

$font-size--xlarge: ;
$font-size--large: ;
$font-size: 16px;
$font-size--small: 14px;
$font-size--xsmal: 12px;

/* Colors ----------------------------------*/
$color--black: black;
$color--white: white;
$color--light-gray: #eeeeee;
$color--gray: gray;
$color--primary: orange;
