/* Small screens ----------------------------------*/
@media screen and (max-width: 620px) {

    .story-intro {

        h1 {
            font-size: 1.5em;
            margin-bottom: .5em;
        }
    }

}

@media screen and (max-width: 380px) {

    .page-wrap > h1 {
        max-width: 60%;
    }

}