/* Small screens ----------------------------------*/
@media screen and (max-width: 920px) {
    body {
        background-color: $color--white;
        margin: 20px;
    }

    img {
        max-width: 100%;
        min-width: 100%;
    }

    .res-nav {
        display: block;
        margin-right: 20px;
        overflow: visible;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;

        &-activator {
            display: block;
            float: right;
            position: relative;
            z-index: 2;
        }

        &-list {
            display: none;
            top: 3em;
            width: 100%;

            li {
                border: 0;
                line-height: 100%;
                width: 100%;
            }

            a {
                background-color: $color--gray;
                color: $color--black;
                text-align: left;
            }

            &--active {
                display: block;
                position: absolute;
            }
        }
    }

    .sub-story {
        margin-bottom: 2em;
        width: 100%;

        .media {
            float: left;
            margin-right: 1em;
        }
    }

    .sub-story-intro {
        background-color: transparent;
        color: $color--black;
        padding: 0;
    }

    .page-wrap {
        padding: 0;
        position: relative;
        width: 100%;

        h1 {
            display: inline-block;
            font-size: 2em;
            margin-bottom: 1em;
        }
    }
}