/* Small screens ----------------------------------*/
@media screen and (max-width: 920px) {
    body {
        background-color: $color--white;
        margin: 20px;
    }

    img {
        max-width: 100%;
    }

    .res-nav {
        display: block;
        margin-right: 20px;
        overflow: visible;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;

        &-activator {
            float: right;
            position: relative;
            z-index: 2;
        }

        &-list {
            display: none;

            &--active {
                display: block;
                position: absolute;
            }
        }
    }

    .page-wrap {
        padding: 0;
        position: relative;
        width: 100%;

        h1 {
            display: inline-block;
            font-size: 2em;
            margin-bottom: 1em;
        }
    }

    .main-story {
        img {
            min-width: 100%;
        }
    }

    .story-intro {

        h1 {
            font-size: 1.5em;
            margin-bottom: .5em;
        }
    }
}